.box {
  background-color: rgb(174, 10, 10);
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  h1,
  p {
    display: block;
    width: 100%;
  }
}
.box1 {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto 1rem auto;
}
