.about {
    text-align: center;
    padding: 1rem 0;
    width: 25%;
    margin: 0 auto;
}

.about h1 {
    background-color: rgb(29, 118, 195);
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0;
    border-radius: 5px;
}

.about p {
    background-color: rgb(27, 210, 210);
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0;
    border-radius: 5px;

    font-size: 20px;
}